@import "tailwindcss";

@keyframes flip {
  50% {
    transform: scaleY(0);
  }
}

@keyframes color-correct {
  50% {
    background-color: white;
  }
  100% {
    background-color: green;
  }
}

@keyframes color-almost-correct {
  50% {
    background-color: white;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes color-incorrect {
  50% {
    background-color: white;
  }
  100% {
    background-color: gray;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.letterbox {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: white; */
  margin: 0.5em;
  width: 2.5em;
  height: 2.5em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  outline: solid gray 3px;
}

.guessingUI {
  outline: solid black 1px;
  min-height: 20em;
  min-width: 200px;
  place-items: center;
}

.revealed-letter.correct {
  animation: flip 0.5s forwards, color-correct 0.5s forwards;
}

.revealed-letter.almost-correct {
  animation: flip 0.5s forwards, color-almost-correct 0.5s forwards;;
}

.revealed-letter.incorrect   {
  animation: flip 0.5s forwards, color-incorrect 0.5s forwards;;
}