@import "tailwindcss";

@keyframes flip {
  50% {
    transform: scaleY(0);
  }
}

@keyframes color-correct {
  50% {
    background-color: white;
  }
  100% {
    background-color: green;
  }
}

@keyframes color-almost-correct {
  50% {
    background-color: white;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes color-incorrect {
  50% {
    background-color: white;
  }
  100% {
    background-color: gray;
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-0.2em); }
  40% { transform: translateX(0.2em); }
  60% { transform: translateX(-0.2em); }
  80% { transform: translateX(0.2em); }
  100% { transform: translateX(0); }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#root {
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

.letterbox {
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.guessingUI {
  margin-top: 2em;
  outline: solid black 1px;
}

.revealed-letter.correct {
  animation: flip 0.5s forwards, color-correct 0.5s forwards;
}

.revealed-letter.almost-correct {
  animation: flip 0.5s forwards, color-almost-correct 0.5s forwards;
}

.revealed-letter.incorrect   {
  animation: flip 0.5s forwards, color-incorrect 0.5s forwards;
}

.shake-animation{
  animation: shake 0.2s 2;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}