@import "tailwindcss";

@keyframes flip {
  50% {
    transform: scaleY(0);
  }
}

@keyframes color-correct {
  50% {
    background-color: white;
    color: black;
  }

  100% {
    background-color: #7BBB7B;
    color: white;
  }
}

@keyframes color-almost-correct {
  50% {
    background-color: white;
    color: black;
  }

  100% {
    background-color: #DAB444;
    color: white;
  }
}

@keyframes color-incorrect {
  50% {
    background-color: white;
    color: black;
  }

  100% {
    background-color: #5E5E5E;
    color: white;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-0.2em);
  }

  40% {
    transform: translateX(0.2em);
  }

  60% {
    transform: translateX(-0.2em);
  }

  80% {
    transform: translateX(0.2em);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

#root {
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
  box-shadow: none;
}

*:focus-visible {
  border: 3px solid #7BBB7B;
  box-shadow: none;
}

.letterbox {
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guessingUI {
  margin-top: 2em;
  outline: solid black 1px;
}

.revealed-letter.correct {
  animation: flip 0.5s forwards, color-correct 0.5s forwards;
}

.revealed-letter.almost-correct {
  animation: flip 0.5s forwards, color-almost-correct 0.5s forwards;
}

.revealed-letter.incorrect {
  animation: flip 0.5s forwards, color-incorrect 0.5s forwards;
}

.shake-animation {
  animation: shake 0.2s 2;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}

.fadein {
  animation: fadein 1s forwards;
}

.correct-color {
  background-color: #7BBB7B;
}

.almost-correct-color {
  background-color: #DAB444;
}

.incorrect-color {
  background-color: #5E5E5E;
}